{
  "swagger" : "2.0",
  "info" : {
    "description" : "API for EDR REST service",
    "version" : "1.0",
    "title" : "Realty",
    "contact" : {
      "name" : "info@ambita.com"
    },
    "license" : {
      "name" : "",
      "url" : "http://licenseUrl"
    }
  },
  "host" : "api.ambita.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Offices"
  }, {
    "name" : "Persons"
  }, {
    "name" : "Deprecated"
  }, {
    "name" : "Share Liens Calculations"
  }, {
    "name" : "Share Housing Values"
  }, {
    "name" : "Cultural Heritages"
  }, {
    "name" : "Points of Conveyances"
  }, {
    "name" : "Cadastre Liens Calculations"
  }, {
    "name" : "Share Rights"
  }, {
    "name" : "Cadastre Ownerships"
  }, {
    "name" : "Streets Search"
  }, {
    "name" : "Cadastre Housing Values"
  }, {
    "name" : "Customers"
  }, {
    "name" : "Scope"
  }, {
    "name" : "Building Changes"
  }, {
    "name" : "Geometries"
  }, {
    "name" : "Users"
  }, {
    "name" : "Code Fields"
  }, {
    "name" : "Shares"
  }, {
    "name" : "Share Scores"
  }, {
    "name" : "Share Conveyances"
  }, {
    "name" : "Cadastre Conveyances"
  }, {
    "name" : "Streets"
  }, {
    "name" : "Persons Search"
  }, {
    "name" : "Cadastres Search"
  }, {
    "name" : "Districts"
  }, {
    "name" : "Customer Scores"
  }, {
    "name" : "Creation Of Rights"
  }, {
    "name" : "Shares Search"
  }, {
    "name" : "Addresses Search"
  }, {
    "name" : "Cadastres"
  }, {
    "name" : "Validate Cadastre Land Registry"
  }, {
    "name" : "Affairs"
  }, {
    "name" : "Coop Internals"
  }, {
    "name" : "Single Heritages"
  }, {
    "name" : "Municipalities"
  }, {
    "name" : "PDF Orders"
  }, {
    "name" : "Coordinates"
  }, {
    "name" : "Home Equities"
  }, {
    "name" : "Buildings"
  }, {
    "name" : "Floors"
  }, {
    "name" : "Realty Estate Units"
  }, {
    "name" : "Housing Cooperatives Search"
  }, {
    "name" : "Cadastre Scores"
  }, {
    "name" : "Unregistered Ownerships"
  }, {
    "name" : "Places Search"
  }, {
    "name" : "Cadastre Land Registry"
  }, {
    "name" : "Cadastre Rights"
  }, {
    "name" : "Housing Cooperatives"
  }, {
    "name" : "Sectionings"
  }, {
    "name" : "Share Land Registry"
  }, {
    "name" : "Cadastre Document Copy Existence"
  }, {
    "name" : "Soil Contaminations"
  }, {
    "name" : "Share Document Copy Existence"
  }, {
    "name" : "Plots"
  }, {
    "name" : "Addresses"
  }, {
    "name" : "Share Ownerships"
  }, {
    "name" : "Systemping"
  }, {
    "name" : "Complaints"
  }, {
    "name" : "Dictionary"
  }, {
    "name" : "Separately Occupied Units"
  } ],
  "paths" : {
    "/realty/v1/cadastre/offices/{cadastreDocumentKey}" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Get document ident based on key",
        "description" : "Returns document ident based on key",
        "operationId" : "offices",
        "parameters" : [ {
          "name" : "cadastreDocumentKey",
          "in" : "path",
          "description" : "Returns documentIdent for provided document key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreOfficeItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/owners/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the owners of a cadastre",
        "description" : "",
        "operationId" : "listOwnersOfCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Returns persons who owns the cadastre with max cadastre level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/shares/{shareKey}/owners/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the owners of a share",
        "description" : "",
        "operationId" : "listOwnersOfShare",
        "parameters" : [ {
          "name" : "shareKey",
          "in" : "path",
          "description" : "share key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastre/conveyances/{conveyanceKey}/buyers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the buyers participating in a conveyance  of cadastres",
        "description" : "",
        "operationId" : "listBuyersOfConveyanceOfCadastres",
        "parameters" : [ {
          "name" : "conveyanceKey",
          "in" : "path",
          "description" : "conveyance key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastre/conveyances/{conveyanceKey}/sellers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the sellers participating in a conveyance of cadastres",
        "description" : "",
        "operationId" : "listSellersOfConveyanceOfCadastres",
        "parameters" : [ {
          "name" : "conveyanceKey",
          "in" : "path",
          "description" : "conveyance key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/share/conveyances/{conveyanceKey}/buyers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the buyers participating in a conveyance of shares",
        "description" : "",
        "operationId" : "listBuyersOfConveyanceOfShares",
        "parameters" : [ {
          "name" : "conveyanceKey",
          "in" : "path",
          "description" : "conveyance key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/share/conveyances/{conveyanceKey}/sellers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the sellers participating in a conveyance of shares",
        "description" : "",
        "operationId" : "listSellersOfConveyanceOfShares",
        "parameters" : [ {
          "name" : "conveyanceKey",
          "in" : "path",
          "description" : "conveyance key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildings/{buildingKey}/developers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get persons with a role as developer of a building",
        "description" : "",
        "operationId" : "listDevelopersOfBuilding",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "path",
          "description" : "building key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildings/{buildingKey}/contacts/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get persons with the role as contact person of a building",
        "description" : "",
        "operationId" : "listContactsOfBuilding",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "path",
          "description" : "building key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildingchanges/{buildingChangeKey}/developers/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get persons with a role as developer of a building change",
        "description" : "",
        "operationId" : "listDevelopersOfBuildingChange",
        "parameters" : [ {
          "name" : "buildingChangeKey",
          "in" : "path",
          "description" : "building change key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildingchanges/{buildingChangeKey}/contacts/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get persons with the role as contact person of a building change",
        "description" : "",
        "operationId" : "listContactsOfBuildingChange",
        "parameters" : [ {
          "name" : "buildingChangeKey",
          "in" : "path",
          "description" : "building change key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastre/ownerships/{ownershipKey}/owningperson/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the owning person for a cadastre ownership",
        "description" : "",
        "operationId" : "uniqueOwnerOfOwnershipOnCadastres",
        "parameters" : [ {
          "name" : "ownershipKey",
          "in" : "path",
          "description" : "Ownership key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/share/ownerships/{ownershipKey}/owningperson/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get the owning person for a share ownership",
        "description" : "",
        "operationId" : "uniqueOwnerOfOwnershipOnShares",
        "parameters" : [ {
          "name" : "ownershipKey",
          "in" : "path",
          "description" : "Ownership key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/persons/{personKey}" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get person",
        "description" : "Get person",
        "operationId" : "person",
        "parameters" : [ {
          "name" : "personKey",
          "in" : "path",
          "description" : "Official key<br />Example of official key for a person <official personal number> - length 11<br />Example of official id for organisation '948946645 S' - length 9",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "hasProperty",
          "in" : "query",
          "description" : "Filter person without a property (not filtered if false)",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/persons/" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Get persons",
        "description" : "Returns persons",
        "operationId" : "persons",
        "parameters" : [ {
          "name" : "ownsCadastreKey",
          "in" : "query",
          "description" : "Returns persons who owns the cadastre for provided cadastre key, for example (1201-10-1-0-0)",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "ownsShareKey",
          "in" : "query",
          "description" : "Returns persons who owns the share for provided share key, for example (948946645-1)",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "conveyanceOfCadastreKey",
          "in" : "query",
          "description" : "Returns persons who participated in a conveyance of cadastre for provided conveyance key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "conveyanceOfShareKey",
          "in" : "query",
          "description" : "Returns persons who participated in a conveyance of share for provided conveyance key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "buildingKey",
          "in" : "query",
          "description" : "Returns persons who participated in building construction for provided building key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "buildingChangeKey",
          "in" : "query",
          "description" : "Returns persons who participated in building construction for provided building change key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Returns persons of specified role who participated in a conveyance (seller, purchaser) or building construction (constructor, developer)",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Returns persons who owns the cadastre with max cadastre level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/property/lienscalculations/{cadastreKey}" : {
      "get" : {
        "tags" : [ "Deprecated" ],
        "summary" : "Get liens calculation",
        "description" : "DEPRECATED: see Cadastre Liens Calculations",
        "operationId" : "lienscalculationcadastreDeprecated",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Returns liens calculation for cadastre for provided official id<br />Example of official id for cadastre '1201-10-650-0-0'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Filter on the cadastre's max cadastre-level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "ignoreInterpretationFaults",
          "in" : "query",
          "description" : "Ignore interpretation faults",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreLiensCalculationItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        },
        "deprecated" : true
      }
    },
    "/realty/v1/shares/{shareKey}/lienscalculation/" : {
      "get" : {
        "tags" : [ "Share Liens Calculations" ],
        "summary" : "Get liens calculation for a share",
        "description" : "",
        "operationId" : "getByShare",
        "parameters" : [ {
          "name" : "shareKey",
          "in" : "path",
          "description" : "Share key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxShareLevel",
          "in" : "query",
          "description" : "Returns liens calculation having the max share level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "ignoreInterpretationFaults",
          "in" : "query",
          "description" : "Ignore interpretation faults",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareLiensCalculationItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/shares/{shareKey}/housingvalue/" : {
      "get" : {
        "tags" : [ "Share Housing Values" ],
        "summary" : "Get housing value for a share",
        "description" : "",
        "operationId" : "getHousingValueForShare",
        "parameters" : [ {
          "name" : "shareKey",
          "in" : "path",
          "description" : "Share key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "roundEstimates",
          "in" : "query",
          "description" : "Round estimated value to nearest thousand",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareHousingValueItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildings/{buildingKey}/culturalheritages/" : {
      "get" : {
        "tags" : [ "Cultural Heritages" ],
        "summary" : "Get cultural heritages related to a building",
        "description" : "",
        "operationId" : "listHeritageByBuilding",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "path",
          "description" : "Building key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CulturalHeritageListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/culturalheritages/{culturalHeritageKey}" : {
      "get" : {
        "tags" : [ "Cultural Heritages" ],
        "summary" : "Get cultural heritage",
        "description" : "Returns cultural heritage",
        "operationId" : "culturalheritage",
        "parameters" : [ {
          "name" : "culturalHeritageKey",
          "in" : "path",
          "description" : "Returns cultural heritage for provided official id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CulturalHeritageItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/culturalheritages/" : {
      "get" : {
        "tags" : [ "Cultural Heritages" ],
        "summary" : "Get cultural heritages",
        "description" : "Returns cultural heritages",
        "operationId" : "culturalheritages",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "query",
          "description" : "Returns cultural heritages for provided building key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CulturalHeritageListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/pocs/{pocId}" : {
      "get" : {
        "tags" : [ "Points of Conveyances" ],
        "summary" : "Get POC",
        "description" : "Returns POC",
        "operationId" : "poc",
        "parameters" : [ {
          "name" : "pocId",
          "in" : "path",
          "description" : "Returns POC for provided POC id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/POCItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/pocs/" : {
      "get" : {
        "tags" : [ "Points of Conveyances" ],
        "summary" : "Get POCs",
        "description" : "Returns POCs",
        "operationId" : "pocs",
        "parameters" : [ {
          "name" : "eastingMin",
          "in" : "query",
          "description" : "Minimum easting for provided extent",
          "required" : true,
          "type" : "number",
          "default" : -59448.67,
          "format" : "double"
        }, {
          "name" : "northingMin",
          "in" : "query",
          "description" : "Minimum northing for provided extent",
          "required" : true,
          "type" : "number",
          "default" : 6779504.82,
          "format" : "double"
        }, {
          "name" : "eastingMax",
          "in" : "query",
          "description" : "Maximum easting for provided extent",
          "required" : true,
          "type" : "number",
          "default" : -57557.26,
          "format" : "double"
        }, {
          "name" : "northingMax",
          "in" : "query",
          "description" : "Maximum northing for provided extent",
          "required" : true,
          "type" : "number",
          "default" : 6782860.09,
          "format" : "double"
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "From date<br />Use the ISO 8601 date format (YYYY-MM-DD or YYYYMMDD)",
          "required" : false,
          "type" : "string",
          "default" : "2010"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "To date<br />Use the ISO 8601 date format (YYYY-MM-DD or YYYYMMDD)",
          "required" : false,
          "type" : "string",
          "default" : "2019"
        }, {
          "name" : "groundUsage",
          "in" : "query",
          "description" : "Usage of ground<br />Use a combination of three characters: 'B' for residential or 'F' for recreational or 'A' for other",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "freeMarketOnly",
          "in" : "query",
          "description" : "Returns conveyances from free market only",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/POCListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/lienscalculation/" : {
      "get" : {
        "tags" : [ "Cadastre Liens Calculations" ],
        "summary" : "Get liens calculation for cadastre",
        "description" : "",
        "operationId" : "getByCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Filter on the cadastre's max cadastre-level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "ignoreInterpretationFaults",
          "in" : "query",
          "description" : "Ignore interpretation faults",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreLiensCalculationItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/shares/{shareKey}/creationofrights/" : {
      "get" : {
        "tags" : [ "Share Rights" ],
        "summary" : "Get easements for cadastre",
        "description" : "",
        "operationId" : "rightsForShare",
        "parameters" : [ {
          "name" : "shareKey",
          "in" : "path",
          "description" : "Share key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "group",
          "in" : "query",
          "description" : "What group of rights to filter on",
          "required" : true,
          "type" : "string",
          "enum" : [ "avtaler", "heftelser" ]
        }, {
          "name" : "onlyMaxShareLevel",
          "in" : "query",
          "description" : "Filter on the share's max share-level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "includeDetails",
          "in" : "query",
          "description" : "Include details for each right",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "includeFormatted",
          "in" : "query",
          "description" : "Include formatted data for each right",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "includeRelatedRights",
          "in" : "query",
          "description" : "Include relatedRights for each right",
          "required" : true,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter on the state of the rights",
          "required" : false,
          "type" : "string",
          "default" : "active",
          "enum" : [ "active", "historical", "active_and_historical" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RightsItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/ownershipsowningthiscadastre/" : {
      "get" : {
        "tags" : [ "Cadastre Ownerships" ],
        "summary" : "Get ownerships by cadastre",
        "description" : "",
        "operationId" : "listOwnershipsByCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Returns ownerships having the max cadastre level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreOwnershipListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/ownershipsownedbythiscadastre/" : {
      "get" : {
        "tags" : [ "Cadastre Ownerships" ],
        "summary" : "Get ownerships owned by this cadastre",
        "description" : "",
        "operationId" : "listOwnershipsOwnedByThisCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Owned by this cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Returns ownerships having the max cadastre level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreOwnershipListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/persons/{personKey}/cadastreownerships/" : {
      "get" : {
        "tags" : [ "Cadastre Ownerships" ],
        "summary" : "Get ownerships by person",
        "description" : "",
        "operationId" : "listOwnershipsByPerson",
        "parameters" : [ {
          "name" : "personKey",
          "in" : "path",
          "description" : "Person key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyMaxCadastreLevel",
          "in" : "query",
          "description" : "Returns ownerships having the max cadastre level",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreOwnershipListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          },
          "413" : {
            "description" : "Request entity too large"
          }
        }
      }
    },
    "/realty/v1/cadastre/ownerships/{ownershipKey}" : {
      "get" : {
        "tags" : [ "Cadastre Ownerships" ],
        "summary" : "Get ownership",
        "description" : "Returns ownership",
        "operationId" : "propertyOwnership",
        "parameters" : [ {
          "name" : "ownershipKey",
          "in" : "path",
          "description" : "Returns ownership for provided official id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreOwnershipItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/search/streets/" : {
      "get" : {
        "tags" : [ "Streets Search" ],
        "summary" : "Get streets",
        "description" : "Search for streets",
        "operationId" : "streetsSearch",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Free text search",
          "required" : true,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum (currently not in use)",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/StreetSearchListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/surroundinghousingvalues/" : {
      "get" : {
        "tags" : [ "Cadastre Housing Values" ],
        "summary" : "Get surrounding housing values for a cadastre",
        "description" : "Returns housing values",
        "operationId" : "getSurroundingHousingValuesForCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreHousingValueListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/housingvalue/" : {
      "get" : {
        "tags" : [ "Cadastre Housing Values" ],
        "summary" : "Get housing value for a cadastre",
        "description" : "",
        "operationId" : "getHousingValueForCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "roundEstimates",
          "in" : "query",
          "description" : "Round estimated value to nearest thousand",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CadastreHousingValueItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/customers/{customerId}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get customer",
        "description" : "Returns  customer",
        "operationId" : "customer",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Returns customer for customer id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "isExternalId",
          "in" : "query",
          "description" : "Provided customerId is external",
          "required" : true,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CustomerItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/customers/" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get customers",
        "description" : "Returns customers",
        "operationId" : "customers",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CustomerListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/scopes/" : {
      "get" : {
        "tags" : [ "Scope" ],
        "summary" : "Get scope list",
        "description" : "Returns scope list",
        "operationId" : "scope",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Scope"
            }
          }
        }
      }
    },
    "/realty/v1/buildings/{buildingKey}/changes/" : {
      "get" : {
        "tags" : [ "Building Changes" ],
        "summary" : "Get building changes for building",
        "description" : "",
        "operationId" : "changeByBuilding",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "path",
          "description" : "building key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlyIncludeUnderConstruction",
          "in" : "query",
          "description" : "Only include changes under construction",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BuildingChangeListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/separatelyoccupiedunits/{unitKey}/buildingchange/" : {
      "get" : {
        "tags" : [ "Building Changes" ],
        "summary" : "Get the building change for a separately occupied unit",
        "description" : "",
        "operationId" : "uniqueChangeByUnit",
        "parameters" : [ {
          "name" : "unitKey",
          "in" : "path",
          "description" : "Separately occupied unit key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BuildingChangeItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildings/{buildingKey}/changes/{version}" : {
      "get" : {
        "tags" : [ "Building Changes" ],
        "summary" : "Get building change",
        "description" : "Returns building change",
        "operationId" : "buildingchangeold",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "path",
          "description" : "Building key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "Returns building change for provided building version",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BuildingChangeItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildingchanges/{buildingChangeKey}" : {
      "get" : {
        "tags" : [ "Building Changes" ],
        "summary" : "Get building change",
        "description" : "Returns building change",
        "operationId" : "buildingchange",
        "parameters" : [ {
          "name" : "buildingChangeKey",
          "in" : "path",
          "description" : "Returns building change for provided official id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BuildingChangeItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/buildingchanges/" : {
      "get" : {
        "tags" : [ "Building Changes" ],
        "summary" : "Get building changes",
        "description" : "Returns building changes",
        "operationId" : "buildingchanges",
        "parameters" : [ {
          "name" : "buildingKey",
          "in" : "query",
          "description" : "Returns building changes for provided building key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "onlyIncludeUnderConstruction",
          "in" : "query",
          "description" : "Only include changes under construction",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BuildingChangeListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/positions/{x},{y},{datum}/plot/polygon/" : {
      "get" : {
        "tags" : [ "Geometries" ],
        "summary" : "Get plot-polygons by position",
        "description" : "Returns polygons as geojson",
        "operationId" : "plotPolygonsByPosition",
        "parameters" : [ {
          "name" : "x",
          "in" : "path",
          "description" : "X/ easting",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "y",
          "in" : "path",
          "description" : "Y/ northing",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "datum",
          "in" : "path",
          "description" : "Geodetic datum",
          "required" : true,
          "type" : "string",
          "enum" : [ "UTM33", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Result"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/cadastres/{cadastreKey}/polygon/" : {
      "get" : {
        "tags" : [ "Geometries" ],
        "summary" : "Get polygons for cadastre",
        "description" : "Returns polygons as geojson",
        "operationId" : "polygonsByCadastre",
        "parameters" : [ {
          "name" : "cadastreKey",
          "in" : "path",
          "description" : "Cadastre key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Result"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/user" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get logged in user",
        "description" : "Returns logged in user",
        "operationId" : "user",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/codefields/{codefieldKey}" : {
      "get" : {
        "tags" : [ "Code Fields" ],
        "summary" : "Get codefield",
        "description" : "Returns codefield",
        "operationId" : "codefield",
        "parameters" : [ {
          "name" : "codefieldKey",
          "in" : "path",
          "description" : "Returns the codefield for the provided codefield key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "languageForm",
          "in" : "query",
          "description" : "The language form of the content",
          "required" : false,
          "type" : "string",
          "default" : "B",
          "enum" : [ "B", "N" ]
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The required state of each code",
          "required" : false,
          "type" : "string",
          "default" : "active",
          "enum" : [ "active", "historical", "active_and_historical" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CodeFieldItemResponse"
            }
          }
        }
      }
    },
    "/realty/v1/codefields/" : {
      "get" : {
        "tags" : [ "Code Fields" ],
        "summary" : "Get all codefields",
        "description" : "Returns all codefields",
        "operationId" : "codefields",
        "parameters" : [ {
          "name" : "languageForm",
          "in" : "query",
          "description" : "The language form of the content",
          "required" : false,
          "type" : "string",
          "default" : "B",
          "enum" : [ "B", "N" ]
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The required state of each code",
          "required" : false,
          "type" : "string",
          "default" : "active",
          "enum" : [ "active", "historical", "active_and_historical" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CodeFieldListResponse"
            }
          }
        }
      }
    },
    "/realty/v1/pocs/{pocKey}/shares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares for a pocId",
        "description" : "",
        "operationId" : "listSharesByPoc",
        "parameters" : [ {
          "name" : "pocKey",
          "in" : "path",
          "description" : "Poc key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "freeMarketOnly",
          "in" : "query",
          "description" : "Returns shares from free market only",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/addresses/{addressKey}/shares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares for a address",
        "description" : "",
        "operationId" : "listSharesByAddress",
        "parameters" : [ {
          "name" : "addressKey",
          "in" : "path",
          "description" : "Address key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/housingcooperatives/{cooperativeKey}/shares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares for a cooperative",
        "description" : "",
        "operationId" : "listSharesByCooperative",
        "parameters" : [ {
          "name" : "cooperativeKey",
          "in" : "path",
          "description" : "Cooperative key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/share/ownerships/{ownershipKey}/ownedshare/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get the owned share for an ownership",
        "description" : "",
        "operationId" : "uniqueShareByOwnership",
        "parameters" : [ {
          "name" : "ownershipKey",
          "in" : "path",
          "description" : "Ownership key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/positions/{x},{y},{inputDatum}/nearbyshares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares near position",
        "description" : "The list is sorted by distance",
        "operationId" : "sharesNearbyPosition",
        "parameters" : [ {
          "name" : "x",
          "in" : "path",
          "description" : "X/ easting",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "y",
          "in" : "path",
          "description" : "Y/ northing",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "inputDatum",
          "in" : "path",
          "description" : "The positions geodetic datum",
          "required" : true,
          "type" : "string",
          "enum" : [ "UTM33", "WGS84" ]
        }, {
          "name" : "maxDistance",
          "in" : "query",
          "description" : "Max distance",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "format" : "int32"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Geodetic datum in response. If not provided the inputDatum will be the default.",
          "required" : false,
          "type" : "string",
          "default" : "null",
          "enum" : [ "UTM33", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/share/conveyances/{conveyanceKey}/shares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares for a conveyance",
        "description" : "",
        "operationId" : "listSharesByConveyance",
        "parameters" : [ {
          "name" : "conveyanceKey",
          "in" : "path",
          "description" : "Conveyance key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/persons/{personKey}/ownedshares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares owned by a person",
        "description" : "",
        "operationId" : "listByOwningPerson",
        "parameters" : [ {
          "name" : "personKey",
          "in" : "path",
          "description" : "Owned by person key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/separatelyoccupiedunits/{unitKey}/share/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get the share for a separately occupied unit",
        "description" : "",
        "operationId" : "uniqueShareByUnit",
        "parameters" : [ {
          "name" : "unitKey",
          "in" : "path",
          "description" : "Separately occupied unit key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/shares/{shareKey}" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get share",
        "description" : "Returns share",
        "operationId" : "share",
        "parameters" : [ {
          "name" : "shareKey",
          "in" : "path",
          "description" : "Returns share for provided official id<br />Example of official id for housing cooperative share '948946645-2'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareItemResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/shares/" : {
      "get" : {
        "tags" : [ "Shares" ],
        "summary" : "Get shares",
        "description" : "Returns shares",
        "operationId" : "shares",
        "parameters" : [ {
          "name" : "ownedByPersonKey",
          "in" : "query",
          "description" : "Returns shares owned by person for provided person key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "addressId",
          "in" : "query",
          "description" : "DEPRECATED. Returns shares for provided address id",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "addressKey",
          "in" : "query",
          "description" : "Returns shares for provided address key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "pocId",
          "in" : "query",
          "description" : "Returns shares for provided poc id",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "conveyanceKey",
          "in" : "query",
          "description" : "Returns shares for provided conveyance key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "cooperativeKey",
          "in" : "query",
          "description" : "Returns shares for provided cooperative key",
          "required" : false,
          "type" : "string",
          "default" : "null"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Start from page",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "Number of rows per page",
          "required" : false,
          "type" : "integer",
          "default" : 10,
          "format" : "int32"
        }, {
          "name" : "freeMarketOnly",
          "in" : "query",
          "description" : "Returns shares from free market only",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "positions",
          "in" : "query",
          "description" : "Include positions in the result",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ShareListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/geojson/pocs/{pocId}" : {
      "get" : {
        "tags" : [ "Points of Conveyances" ],
        "summary" : "Get POC GeoJSON",
        "description" : "Returns POC GeoJSON",
        "operationId" : "pocGeoJSON",
        "parameters" : [ {
          "name" : "pocId",
          "in" : "path",
          "description" : "Returns POC for provided POC id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datum",
          "in" : "query",
          "description" : "Set the geodetic datum",
          "required" : false,
          "type" : "string",
          "default" : "UTM",
          "enum" : [ "UTM", "WGS84" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Token for logged in user.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/POCGeoJSONResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/realty/v1/geojson/pocs/" : {
      "get" : {
        "tags" : [ "Points of Conveyances" ],
        "summary" : "Get POCs GeoJSON",
        "description" : "Returns POCs GeoJSON",
        "operationId" : "pocsGeoJSON",
        "parameters" : [ {
          "name" : "eastingMin",
          "in" : "query",
          "description" : "Minimum easting for provided extent",
          "required" : true,
          "type" : "number",
          "default" : -59448.67,
          "format" : "double"
        }, {
          "name" : "northingMin",
          "in" : "query",
          "description" : "Minimum northing for provided extent",
          "required" : true,
          "type" : "number",
          "default" : 6779504.82,
[...]
